mage-ai==0.9.76
pymongo==4.12.0 
dbt-core==1.9.4
blis==0.7.9
spacy==3.7.0 
sshtunnel==0.4.0
psycopg2-binary==2.9.10
pandas==2.2.3
datetime==5.5
asyncio==3.4.3
botocore==1.38.3
# dask[dataframe]
dask==2024.8.0